/* Start Reset */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    direction: rtl;
    font-family: 'Tajawal', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 5px;
    padding: 0;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a, a:hover, a:focus
{
    text-decoration: none;
}
/* End Reset */

/* Start The Global Divs */
.clear
{
    clear: both;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background: rgb(255, 127, 39);
    color: #fff
  }
/* End The Global Divs */
.header .navbar .navbar-nav .nav-link {
    color: #101010;
    font-size: 18px;
    cursor: pointer;
}
.header .navbar .navbar-nav .nav-link:hover
{
    color: rgb(255, 127, 39)
}
.header .navbar .navbar-toggler,
.header .navbar .navbar-toggler-icon
{
    color: rgb(255, 127, 39);
    border-color: #101010;
    padding-top: 3%;
}
.header .navbar .navbar-nav .show > .nav-link,
.header .navbar .navbar-nav .active > .nav-link, 
.header .navbar .navbar-nav .nav-link.show, 
.header .navbar .navbar-nav .nav-link.active
 {
    color: #101010;
}
.header .navbar .navbar-nav .dropdown-header
{
    text-align: right
}
.header .navbar-collapse .sign
{
    color: #101010;
    border: 1px solid rgb(255, 127, 39);
    text-align: center;
    height: 40px;
    font-size: 17px;
    width: 120px;
    padding-top: 0.4%;
    margin-right: 1%;
}
.header .navbar-collapse .sign:hover
{
    text-decoration: none
}
.header .form-inline .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    width: 230px;
    border-color: rgb(255, 127, 39);
    margin-top: 1%
}
.header .form-inline .form-control::placeholder
{
    color: #101010
}
.header .navbar .navbar-brand img
{
    width: 150px;
    height: 130px;
}
.header .navbar-collapse
{
    margin-top: 6.5%
}
.header .navbar-collapse ul
{
    margin-right: 1%;
}
.header .navbar-collapse .dropdown-item 
{
    text-align: right;
}
.header .navbar-collapse .dropdown-item:hover
{
    background-color: rgb(255, 127, 39);
    color: #fff;
    transition-duration: 0.5s
}
/*Footer*/
.footer
{
    text-align: right;
    border-top: 2px solid rgb(255, 127, 39);
}
.footer .row
{
    margin-top: 4%;
    margin-bottom: 2%
}
.footer .data
{
    border-top: 2px solid rgb(255, 127, 39);
}
.footer .row .payment,
.footer .row .socialmedia
{
    margin-top: 2.5%;
}
.footer .row .payment a
{
    font-size: 45px;
}
.footer .row .payment .paypal
{
    color: #737272;
}
.footer .row .payment .visa
{
    color: rgb(255, 127, 39);
    margin-right: 1%
}
.footer .row .socialmedia a
{
    color: rgb(255, 127, 39);
    font-size: 30px;
    padding-left: 1%
}
.footer .row .brand img
{
    width: 150px;
    height: 130px;
    display: inline-block;
    margin-right: 22%
}
.footer .row h5
{
    font-weight: 400;
    margin-bottom: 5%
}
.footer .row .address span
{
    color: rgb(255, 127, 39);
    font-size: 18px;
    margin-left: 2%
}
.footer .row .address p
{
    color: #737272;
}
.footer .row .policies a
{
    display: block;
    color: #737272
}
.footer .row .policies a:hover
{
    text-decoration: none;
    color: rgb(255, 127, 39);
    transition-duration: 0.5s
}
.footer .row .policies .p1,
.footer .row .policies .p2
{
    margin-bottom: 3%
}
.footer .row .subscribe input,
.footer .row .subscribe button
{
    display: block
}
.footer .row .subscribe input
{
    width: 90%;
    border: 1.5px solid rgb(255, 127, 39);
    margin-bottom: 5%;
    height: 40px;
}
.footer .row .subscribe input::placeholder
{
    padding-right: 2%
}
.footer .row .subscribe button
{
    height: 40px;
    width: 90%;
    background-color: rgb(255, 127, 39);
    color: #fff;
    border: none
}
.footer .copyright
{
    background-color: rgb(255, 127, 39);
    height: 45px;
}
.footer .copyright p
{
    color: #fff;
    padding-top: 0.4%
}
/*Media Queries*/

/*For Mobile Phones*/
@media  (max-width: 767px) {
  /*Start Header*/
    .header .navbar .navbar-brand img
{
    width: 115px;
    height: 100px;
}
.header .navbar .navbar-toggler-icon i
{
    font-size: 30px;
}
.header .navbar .navbar-toggler-icon
{
    padding-top: 0%
}
.header .form-inline .form-control {
    width: 100%;
}
.header .navbar-collapse .sign
{
    display: inline-block;
    width: 100%;
    margin: 2% 0;
    padding-top: 1.2%
}
.header .navbar-collapse
{
    text-align: right;
    margin-top: 0
}
/*Start Footer*/
.footer .row .policies {
    margin-bottom: 7%;
}
.footer .row .subscribe input,
.footer .row .subscribe button {
    width: 100%;
}
.footer .copyright {
    height: 66px;
}
.footer .copyright p {
    padding-top: 0.5%;
}
} 

/*For Iphone 6/6s/7/8*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .header .navbar .navbar-toggler-icon i
    {
        font-size: 25px;
    }
    .header .navbar .navbar-toggler-icon
    {
        padding-top: 2.5%
    }

}

/*For Iphone 6/7/8 plus*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .header .navbar .navbar-toggler-icon i
    {
        font-size: 25px;
    }
    .header .navbar .navbar-toggler-icon
    {
        padding-top: 2.5%
    }
/*Start Footer*/
.footer .copyright p {
    padding-top: 4.5%;
}
}

/*For Tablets*/
@media(min-width: 768px) and (max-width: 991px)
{
    /*Start Header*/
    .header .navbar .navbar-brand img {
        width: 130px;
        height: 115px;
    }
    .header .navbar .navbar-toggler
    {
        margin-top: -4%;
    }  
    .header .navbar .navbar-toggler-icon i
    {
        font-size: 25px;
    }
    .header .navbar .navbar-toggler-icon
    {
        padding-top:6%;
        margin-top: -68%;
    }
    .header .navbar-collapse .sign
    {
        display: inline-block;  
        margin: 2% 0;
        padding-top: 0.8%;
        width: 230px
    }
    .header .navbar-collapse
    {
        text-align: right;
        margin-top: 0
    }
    /*Start Footer*/
    .footer .row .col-md-4{
        padding-right: 0;
        padding-left: 0
    }
    .footer .row .subscribe input,
.footer .row .subscribe button {
    width: 100%;
}
}

/*For Ipad Pro 12.9*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header .navbar .navbar-toggler
    {
        padding-top: 1.5%;
        margin-top: -4%
    }  
    .header .navbar-collapse
    {
        text-align: right;
        margin-top: 0
    }
    .header .navbar-collapse .sign
    {
        display: inline-block;  
        margin: 2% 0;
        padding-top: 0.8%;
        width: 230px
    }
    .footer .row .subscribe input,
    .footer .row .subscribe button {
        width: 100%;
    }
}


